In [1]:
import pymysql
import pandas as pd

# 생략된 열과 행 모두 표시하기
pd.options.display.max_columns = None

In [11]:
# 데이터베이스 연결하기
conn = pymysql.connect(host='127.0.0.1', user='apic', password='1234', db='KBODATA', charset='utf8', cursorclass=pymysql.cursors.DictCursor)
# 통로 만들기
cur = conn.cursor()

In [12]:
cur.execute('truncate KBO_TABLE;')

KeyboardInterrupt:

In [3]:
# 첫 번째 기록창 (2002~)
cur.execute('select * from KBO_TABLE where G >= 0 and year >= 2002;')
result = cur.fetchall()

df1 = pd.DataFrame(result)
df1

,id,year,player_name,team_name,AVG,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,E,TB,SAC,SF,IBB,SLG,OBP,OPS,MH,RISP,PH_BA,XBH,GO,AO,GO_AO,GW_RBI,BB_K,P_PA,ISOP,XR,GPA
0,3916,2002,최형우,삼성,0.400,4,6,5,0,2,2,0,0,0,None,None,None,None,None,None,None,4,1,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,3917,2002,마해영,삼성,0.323,133,596,532,92,172,40,2,33,116,None,None,None,None,None,None,None,315,0,6,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,3918,2002,이승엽,삼성,0.323,133,617,511,123,165,42,2,47,126,None,None,None,None,None,None,None,352,0,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,3919,2002,김한수,삼성,0.311,127,541,486,69,151,23,1,17,76,None,None,None,None,None,None,None,227,2,4,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,3920,2002,강동우,삼성,0.288,130,521,466,75,134,23,3,9,49,None,None,None,None,None,None,None,190,7,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7314,11230,2024,양지율,키움,0.000,1,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,0,0,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7315,11231,2024,오석주,키움,0.000,1,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,0,0,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7316,11232,2024,원종현,키움,0.000,1,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,0,0,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7317,11233,2024,윤정현,키움,0.000,1,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,0,0,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7318,11234,2024,주승우,키움,0.000,5,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,0,0,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [4]:
# 두 번째 기록창 (2002~)
cur.execute('select * from KBO_TABLE where BB >= 0 and year >= 2002;')
result = cur.fetchall()

df2 = pd.DataFrame(result)
df2

,id,year,player_name,team_name,AVG,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,E,TB,SAC,SF,IBB,SLG,OBP,OPS,MH,RISP,PH_BA,XBH,GO,AO,GO_AO,GW_RBI,BB_K,P_PA,ISOP,XR,GPA
0,11235,2002,김재현,LG,0.334,None,None,None,None,None,None,None,None,None,None,None,54,18,51,6,None,None,None,None,5,0.544,0.462,1.006,26,0.319,0.4,None,None,None,None,None,None,None,None,None,None
1,11236,2002,김상현,LG,0.313,None,None,None,None,None,None,None,None,None,None,None,7,3,18,0,None,None,None,None,1,0.469,0.476,0.945,2,0.333,0.4,None,None,None,None,None,None,None,None,None,None
2,11237,2002,류지현,LG,0.310,None,None,None,None,None,None,None,None,None,None,None,38,2,51,3,None,None,None,None,0,0.380,0.381,0.761,30,0.266,0.0,None,None,None,None,None,None,None,None,None,None
3,11238,2002,이병규,LG,0.293,None,None,None,None,None,None,None,None,None,None,None,50,2,57,6,None,None,None,None,12,0.450,0.375,0.825,30,0.253,0.0,None,None,None,None,None,None,None,None,None,None
4,11239,2002,박용택,LG,0.288,None,None,None,None,None,None,None,None,None,None,None,38,6,109,11,None,None,None,None,1,0.467,0.359,0.826,31,0.317,0.5,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7125,18360,2024,이명기,한화,0.000,None,None,None,None,None,None,None,None,None,None,None,0,0,3,0,None,None,None,None,0,0.000,0.000,0.000,0,0.000,0.0,None,None,None,None,None,None,None,None,None,None
7126,18361,2024,장규현,한화,0.000,None,None,None,None,None,None,None,None,None,None,None,1,0,1,0,None,None,None,None,0,0.000,0.143,0.143,0,0.000,0.0,None,None,None,None,None,None,None,None,None,None
7127,18362,2024,장민재,한화,0.000,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,None,None,None,None,0,0.000,0.000,0.000,0,0.000,0.0,None,None,None,None,None,None,None,None,None,None
7128,18363,2024,주현상,한화,0.000,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,None,None,None,None,0,0.000,0.000,0.000,0,0.000,0.0,None,None,None,None,None,None,None,None,None,None
7129,18364,2024,한경빈,한화,0.000,None,None,None,None,None,None,None,None,None,None,None,0,0,1,0,None,None,None,None,0,0.000,0.000,0.000,0,0.000,0.0,None,None,None,None,None,None,None,None,None,None

In [5]:
# 세부 기록창 (2002~)
cur.execute('select * from KBO_TABLE where XBH >= 0 and year >= 2002;')
result = cur.fetchall()

df3 = pd.DataFrame(result)
df3

,id,year,player_name,team_name,AVG,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,E,TB,SAC,SF,IBB,SLG,OBP,OPS,MH,RISP,PH_BA,XBH,GO,AO,GO_AO,GW_RBI,BB_K,P_PA,ISOP,XR,GPA
0,21334,2002,김재현,LG,0.334,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,30,88,60,1.47,0,1.06,4.18,0.209,73.1,0.344
1,21335,2002,김상현,LG,0.313,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,2,3,1,3.00,0,0.39,4.33,0.156,7.7,0.331
2,21336,2002,류지현,LG,0.310,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,18,91,87,1.05,0,0.75,3.99,0.071,51.0,0.266
3,21337,2002,이병규,LG,0.293,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,37,135,85,1.59,0,0.88,3.72,0.157,63.4,0.281
4,21338,2002,박용택,LG,0.288,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,43,95,67,1.42,0,0.35,4.05,0.179,61.3,0.278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7125,28459,2024,이명기,한화,0.000,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,2,2,1.00,0,0.00,3.63,0.000,-0.6,0.000
7126,28460,2024,장규현,한화,0.000,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,2,3,0.67,0,1.00,3.86,0.000,-0.2,0.064
7127,28461,2024,장민재,한화,0.000,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0.00,0,0.00,0.00,0.000,0.0,0.000
7128,28462,2024,주현상,한화,0.000,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0.00,0,0.00,0.00,0.000,0.0,0.000
7129,28463,2024,한경빈,한화,0.000,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0.00,0,0.00,4.00,0.000,-0.1,0.000

In [6]:
# 세 기록 합치기
# df_merge = df1.merge(df2, on=['year, player_name, team_name, AVG'], how='outer') \
#                 .merge(df3, on=['year, player_name, team_name, AVG'], how='outer')

df_merged = df1.merge(df2, on=['year', 'player_name', 'team_name', 'AVG'], how='outer') \
                .merge(df3, on=['year', 'player_name', 'team_name', 'AVG'], how='outer')

df_merged

,id_x,year,player_name,team_name,AVG,G_x,PA_x,AB_x,R_x,H_x,2B_x,3B_x,HR_x,RBI_x,SB_x,CS_x,BB_x,HBP_x,SO_x,GDP_x,E_x,TB_x,SAC_x,SF_x,IBB_x,SLG_x,OBP_x,OPS_x,MH_x,RISP_x,PH_BA_x,XBH_x,GO_x,AO_x,GO_AO_x,GW_RBI_x,BB_K_x,P_PA_x,ISOP_x,XR_x,GPA_x,id_y,G_y,PA_y,AB_y,R_y,H_y,2B_y,3B_y,HR_y,RBI_y,SB_y,CS_y,BB_y,HBP_y,SO_y,GDP_y,E_y,TB_y,SAC_y,SF_y,IBB_y,SLG_y,OBP_y,OPS_y,MH_y,RISP_y,PH_BA_y,XBH_y,GO_y,AO_y,GO_AO_y,GW_RBI_y,BB_K_y,P_PA_y,ISOP_y,XR_y,GPA_y,id,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,E,TB,SAC,SF,IBB,SLG,OBP,OPS,MH,RISP,PH_BA,XBH,GO,AO,GO_AO,GW_RBI,BB_K,P_PA,ISOP,XR,GPA
0,4110,2002,가르시아,한화,0.260,24,77,73,7,19,3,1,2,8,None,None,None,None,None,None,None,30,0,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,11436.0,None,None,None,None,None,None,None,None,None,None,None,4.0,0.0,20.0,1.0,None,None,None,None,0.0,0.411,0.299,0.710,5.0,0.375,0.000,None,None,None,None,None,None,None,None,None,None,21535.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,6.0,19.0,15.0,1.27,0.0,0.20,3.62,0.151,8.5,0.237
1,4025,2002,강귀태,현대,0.272,74,155,147,17,40,8,0,1,16,None,None,None,None,None,None,None,51,3,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3920,2002,강동우,삼성,0.288,130,521,466,75,134,23,3,9,49,None,None,None,None,None,None,None,190,7,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,11307.0,None,None,None,None,None,None,None,None,None,None,None,46.0,1.0,76.0,9.0,None,None,None,None,0.0,0.408,0.352,0.760,36.0,0.330,0.000,None,None,None,None,None,None,None,None,None,None,21406.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,35.0,150.0,107.0,1.40,0.0,0.61,3.97,0.120,65.0,0.260
3,4031,2002,강병식,현대,0.208,89,147,130,16,27,3,1,6,20,None,None,None,None,None,None,None,50,1,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4055,2002,강봉규,두산,0.250,93,182,160,30,40,6,1,5,25,None,None,None,None,None,None,None,63,3,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,11382.0,None,None,None,None,None,None,None,None,None,None,None,16.0,2.0,43.0,4.0,None,None,None,None,1.0,0.394,0.324,0.718,9.0,0.350,0.281,None,None,None,None,None,None,None,None,None,None,21481.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,12.0,36.0,42.0,0.86,0.0,0.37,4.21,0.144,21.2,0.244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7362,10864,2024,황대인,KIA,0.286,3,7,7,1,2,1,0,0,3,None,None,None,None,None,None,None,3,0,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,18315.0,None,None,None,None,None,None,None,None,None,None,None,0.0,0.0,1.0,0.0,None,None,None,None,0.0,0.429,0.286,0.715,1.0,0.333,0.000,None,None,None,None,None,None,None,None,None,None,28414.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,1.0,3.0,1.0,3.00,0.0,0.00,3.14,0.143,0.8,0.236
7363,10883,2024,황동하,KIA,0.000,1,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,0,0,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,18334.0,None,None,None,None,None,None,None,None,None,None,None,0.0,0.0,0.0,0.0,None,None,None,None,0.0,0.000,0.000,0.000,0.0,0.000,0.000,None,None,None,None,None,None,None,None,None,None,28433.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.000,0.0,0.000
7364,11094,2024,황성빈,롯데,0.320,125,406,366,94,117,15,8,4,26,None,None,None,None,None,None,None,160,6,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,18141.0,None,None,None,None,None,None,None,None,None,None,None,31.0,2.0,56.0,3.0,None,None,None,None,0.0,0.437,0.375,0.812,32.0,0.333,0.375,None,None,None,None,None,None,None,None,None,None,28240.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,27.0,112.0,82.0,1.37,1.0,0.55,3.83,0.117,63.7,0.278
7365,11128,2024,황영묵,한화,0.301,123,389,349,52,105,8,4,3,35,None,None,None,None,None,None,None,130,3,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,18335.0,None,None,None,None,None,None,None,None,None,None,None,31.0,5.0,56.0,6.0,None,None,None,None,0.0,0.372,0.365,0.737,27.0,0.326,0.143,None,None,None,None,None,None,None,None,None,None,28434.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,15.0,115.0,74.0,1.55,5.0,0.55,3.73,0.072,45.8,0.257
7366,11028,2024,황재균,KT,0.260,137,536,493,60,128,22,0,13,58,None,None,None,None,None,None,None,189,5,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,18109.0,None,None,None,None,None,None,None,None,None,None,None,34.0,2.0,95.0,16.0,None,None,None,None,0.0,0.383,0.309,0.692,34.0,0.238,0.200,None,None,None,None,None,None,None,None,None,None,28208.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,35.0,113.0,159.0,0.71,5.0,0.36,3.84,0.124,53.5,0.235

In [7]:
# None인 열 제거
df_merged = df_merged.dropna(axis=1, how='all')
df_merged = df_merged.drop(columns=['id_x', 'id_y', 'id'])

# columns = ['id'] + [col for col in df_merged.columns if col != 'id']
# df_merged = df_merged[columns]
df_merged

,year,player_name,team_name,AVG,G_x,PA_x,AB_x,R_x,H_x,2B_x,3B_x,HR_x,RBI_x,TB_x,SAC_x,SF_x,BB_y,HBP_y,SO_y,GDP_y,IBB_y,SLG_y,OBP_y,OPS_y,MH_y,RISP_y,PH_BA_y,XBH,GO,AO,GO_AO,GW_RBI,BB_K,P_PA,ISOP,XR,GPA
0,2002,가르시아,한화,0.260,24,77,73,7,19,3,1,2,8,30,0,0,4.0,0.0,20.0,1.0,0.0,0.411,0.299,0.710,5.0,0.375,0.000,6.0,19.0,15.0,1.27,0.0,0.20,3.62,0.151,8.5,0.237
1,2002,강귀태,현대,0.272,74,155,147,17,40,8,0,1,16,51,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,강동우,삼성,0.288,130,521,466,75,134,23,3,9,49,190,7,1,46.0,1.0,76.0,9.0,0.0,0.408,0.352,0.760,36.0,0.330,0.000,35.0,150.0,107.0,1.40,0.0,0.61,3.97,0.120,65.0,0.260
3,2002,강병식,현대,0.208,89,147,130,16,27,3,1,6,20,50,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002,강봉규,두산,0.250,93,182,160,30,40,6,1,5,25,63,3,1,16.0,2.0,43.0,4.0,1.0,0.394,0.324,0.718,9.0,0.350,0.281,12.0,36.0,42.0,0.86,0.0,0.37,4.21,0.144,21.2,0.244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7362,2024,황대인,KIA,0.286,3,7,7,1,2,1,0,0,3,3,0,0,0.0,0.0,1.0,0.0,0.0,0.429,0.286,0.715,1.0,0.333,0.000,1.0,3.0,1.0,3.00,0.0,0.00,3.14,0.143,0.8,0.236
7363,2024,황동하,KIA,0.000,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.000,0.0,0.000
7364,2024,황성빈,롯데,0.320,125,406,366,94,117,15,8,4,26,160,6,1,31.0,2.0,56.0,3.0,0.0,0.437,0.375,0.812,32.0,0.333,0.375,27.0,112.0,82.0,1.37,1.0,0.55,3.83,0.117,63.7,0.278
7365,2024,황영묵,한화,0.301,123,389,349,52,105,8,4,3,35,130,3,1,31.0,5.0,56.0,6.0,0.0,0.372,0.365,0.737,27.0,0.326,0.143,15.0,115.0,74.0,1.55,5.0,0.55,3.73,0.072,45.8,0.257
7366,2024,황재균,KT,0.260,137,536,493,60,128,22,0,13,58,189,5,2,34.0,2.0,95.0,16.0,0.0,0.383,0.309,0.692,34.0,0.238,0.200,35.0,113.0,159.0,0.71,5.0,0.36,3.84,0.124,53.5,0.235

In [9]:
cur.execute('select * from KBO_TABLE where year = 2002 and player_name = "강귀태" and team_name = "현대";')
result = cur.fetchall()
pd.DataFrame(result)

,id,year,player_name,team_name,AVG,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,E,TB,SAC,SF,IBB,SLG,OBP,OPS,MH,RISP,PH_BA,XBH,GO,AO,GO_AO,GW_RBI,BB_K,P_PA,ISOP,XR,GPA
0,4025,2002,강귀태,현대,0.272,74,155,147,17,40,8,0,1,16,None,None,None,None,None,None,None,51,3,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [10]:
conn.close()